@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rec.rec-arrow {
  background-color: transparent !important;
  color: #fff;
}
/* round buttons on hover */
.rec.rec-arrow:hover,
.rec.rec-arrow:active  {
  border-radius: 50%;
  background-color: transparent !important;
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: hidden;
}

.rec.rec-dot{
  display: none
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .stroke-thin > path {
    stroke-width: 1.5px;
  }

  .nav-md {
    height: calc(100vh - 112px);
    min-height: 580px;
  }

  .rotate-moon{
    transform: rotate(42deg)
  }

  .learn-blockchain {
    background-image: url("../assets/block-chain.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Abel', sans-serif;
  }

  .carousel-coins{
    width: 98%;
  }

  .token-container{
    height: calc(100% - 112px)
  }

  .tokenlist-item{
    font-size: 10px
  }

  .tokens-page-height {
    height: calc(100vh - 190px)
  }

  .tokens-text-smaller {
    font-size: 8px
  }
}
